<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.devapp.memoir"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="14" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <uses-feature android:name="android.hardware.camera" />

    <application
        android:name="com.devapp.memoir.MemoirApplication"
        android:allowBackup="true"
        android:icon="@drawable/memoiricon2"
        android:label="@string/app_name" >
        <activity
            android:name="com.devapp.memoir.Splash"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar" >
	        <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.devapp.memoir.Welcome"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity android:name="com.devapp.memoir.MainActivity" >
        </activity>
        <activity
            android:name="com.devapp.memoir.CameraActivity"
            android:screenOrientation="landscape" >
        </activity>

        <service android:name="com.devapp.memoir.TranscodingService" >
        </service>
        <service android:name="com.devapp.memoir.SecretCamera" >
        </service>
        <service android:name="com.devapp.memoir.RecorderService" >
        </service>

        <activity
            android:name="com.devapp.memoir.SettingsActivity"
            android:label="@string/title_activity_settings" >
        </activity>
        <activity
            android:name="com.devapp.memoir.HelpActivity"
            android:label="@string/activity_help" >
        </activity>
        <activity
            android:name="com.devapp.memoir.ImportVideoActivity"
            android:screenOrientation="landscape" >
        </activity>
        </application>

</manifest>